@import url("_basico.css");

html,body{
    width: 100%;
    height: 100%;
    display: flex;
}
li{
    list-style: none;
    padding: 5px;
    margin: 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: large;
    color: #FFF;
}

main{
    margin: 50px;
    width: 80%;
    height: 80%;
}
.dark .document{
    color: #030300;
}
.active{
    color: black;
    font-size: large;
    box-shadow: 2px 0 10px var(--mais-escuro);
}
.dark .active{
    color: black;
    font-size: large;
    box-shadow: 2px 0 10px var(--mais-claro);
}
.document{
    background-color: #FFF;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 10px var(--mais-escuro);
}
.dark .document{
    background-color: #FFF;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 10px var(--mais-claro);
}
.document a{
    text-decoration: none;
}

#pagina1{
    padding-top: 1.5%;
}
#pagina2{
    padding-top: 1.5%;
    display: none;
    background-color: bisque;
}
#pagina3{
    padding-top: 1.5%;
    display: none;
    background-color: greenyellow;
}
#pagina4{
    padding-top: 1.5%;
    display: none;
    background-color: darksalmon;
}
#pagina5{
    padding-top: 1.5%;
    display: none;
    background-color: darkorchid;
    color: #FFF;
}
#divisao{
    display: grid;
    width: 50%;
}
#divisao > ul{
    background-color: #FFF;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
#divisao > ul > li{
    cursor: pointer;
}
#divisao > ul > li{
    margin: 0px;
}
#divisao a{
    text-decoration: none;
}

@media (max-width:768px){
    main{
        margin-left: 5px;
    }
}