@import url("_basico.css");
@import url("_dashboard.css");

section{
    width: 100vw;
}
.section__divprojetos{
    width: 90vw;
    position: absolute;
}
.inventario{
    background-color: var(--inventario);
}
.juridico{
    background-color: var(--juridico);
}
.outros{
    background-color: var(--outros);
}
.contratos{
    background-color: var(--contratos);
}
.tema--light .section__divprojetos span{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 8px;
    color: black;
}
.tema--light .projetos{
    box-shadow: 2px 0 10px var(--mais-escuro);
}
.tema--dark .section__divprojetos span{
    box-shadow: 2px 0 10px var(--mais-claro);
    border-radius: 8px;
    color: black;
}
.tema--dark .projetos{
    box-shadow: 2px 0 10px var(--mais-escuro);
}
.section__divprojetos > span{
    cursor: pointer;
}
.projetos{
    background-color: #FFF;
    margin-top: 30px;
    color: black;
    height: 72vh;
    border-radius: 8px;
}
@media (min-width: 768px){
    .projetos{
        max-width: 80vw;
    }
    section{
        padding-left: 25px;
    }
}