@import url("_basico.css");

html,body{
    transition: 0.5s;
    height: 100%;
}
nav{
    display: none;
}
main{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    border: 5px solid red;
}
#main_section--img{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 20vh;
    border: 5px solid red;
}
#main_section--img > img{
    width: 120px;
}
#main_section--login{
    height: 60vh;
    width: 70vw;
    text-transform: uppercase;
}
#section__div--logincadastro{
    border: 5px solid red;
}
#div--login,#div--cadastro{
    border: 5px solid red;
    border-radius: 8px;
    background-color: greenyellow;
}
#main_section--login{
    display: grid;
    border: 5px solid red;
    text-align: center;
    color: black;
    background-color: lightgray;
}
#form--login,#form--cadastro{
    border: 5px solid red;
    height: 50vh;
    margin: 0px auto;
    width: 50vw;
}
form{
    margin: 0px auto;
}
#form--login > h2{
    font-size: 2rem;
}
#form--cadastro > h2{
    font-size: 2rem;
}
label{
    justify-self: start;
}
.form--div{
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 30px;
    border-radius: 8px;
}
.esconder{
    display: none;
}
.form--div > input{
    border-radius: 8px;
}
.form--div > input[type="submit"]{
    background-color: greenyellow;
}
#form--login > form > .form--div > input[type="submit"]{
    background-color: greenyellow;
    margin-top: 100px;
}
