@import url("_basico.css");

/* Animação depois que muda tema */
html,body{
    transition: 0.5s;
    height: 100%;
}
main{
    transition: 0.5s ease;
}
nav > div > a > img{
    transition: 0.5s;
}
nav > div > a > img:hover{
    transform: translateX(-5px);
    transform: translateX(5px);
}
/* Temas Light */
.light nav{
    box-shadow: 2px 0 10px var(--mais-escuro);
}

/* Dark theme*/
.dark header{
    background-color: var(--escuro);
    color: #FFF;
}
.dark main{
    background-color: var(--mais-escuro);
    background: linear-gradient(180deg,darkblue,var(--mais-escuro),var(--escuro));
    border-radius: 20px;
    border: 1px solid var(--mais-escuro);
}

/* Navegação topo */
li > label > .fa-solid{
    cursor: pointer;
    font-size: 2rem;
}
.dark nav{
    box-shadow: 2px 0 10px var(--mais-claro);
}
nav #nav__ul{
    list-style: none;
}


/*Layout principal*/
main:hover{
    transform: translateY(10px);
}
main{
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: var(--mais-claro);
    background: linear-gradient(180deg,var(--claro),var(--mais-claro), lightblue );
    border: 2px solid var(--mais-claro);
    border-radius: 20px;
    outline: var(--escuro);
}
#main__section--login{
    display: flex;
    justify-content: center;
    background-color: var(--caixa-login);
    border-radius: 12px;
}
#main__section--login h1{
    color: var(--escuro);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 2.5em;
}
.form--usuario{
    position: relative;
}
.form--usuario .fa-user{
    position: absolute;
    right: 21px;
    bottom: 5px;
}
.form--senha{
    position: relative;
}
.form--senha .fa-solid{
    cursor: pointer;
    position: absolute;
    right: 21px;
    bottom: 7px;
}
#main__section--login label{
    display: flex;
    padding: 1.5px;
    margin-right: 20px;
    margin-top: 15px;
}
#main__section--login input{
    margin: 2.5px;
    padding: 2.5px;
    outline: none;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}
#main__section--login form{
    padding: 5px;
}
section #main__section--login{
    background-color: #FFF;
}
button{
    cursor: pointer;
}
#section__form--button{
    background-color: var(--cor-botão);
    margin-left: 180px;
    margin-top: 85px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}
.div--mensagem-erro{
    color: red;
    display: none;
}


/* Media query 
@media screen and (max-width:1024px){
    main{
        width: 85%;
    }
    #main__section--login{
        width: 85%;
        margin: 15px auto 15px 45px;
    }
    #main__section--img img{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    main{
        display: grid;
        grid-template-columns: auto;
        height: 80%;
        margin: 25px auto;
    }
    #main__section--img img{
        width: 45%;
        margin-left: 120px;
    }
    #main__section--login{
        width: 85%;
        margin: 15px auto;
        height: 91.5%;
    }
}
@media screen and (max-width:425px){
    main{
        height: 75%;
    }
    #main__section--img img{
        display: none;
    }
    #main__section--login{
        height: 80%;
        width: 100%;
        margin-bottom: 150px;
    }
}*/