@import url("_basico.css");
@import url("_dashboard.css");

section > .section__divprojetos > ul > li > img{
    width: 20px;
}
.section__divprojetos > ul > li{
    list-style: none;
}
#section__divcalendario{
    display: grid;
    justify-content: center;
}
.section__blocodenotas{
    display: grid;
    justify-content: center;
}
#div__mes{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.section__blocodenotas{
    width: 100%;
}
.tema--light #section__divcalendario{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 12px;
}
.tema--light .section__blocodenotas{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 12px;
}
.tema--light .section__divusuario{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 12px;
}
.tema--light .section__divprojetos{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 12px;
}
#div__navmobile{
    background-color: #FFF;
}