@import url("_basico.css");
@import url("_dashboard.css");

:root{
    --projetos: #01ff3e;
    --andamento: var(--mais-escuro);
    --descartado: #808080;
}
section{
    width: 90vw;
    padding-top: 5px;
}
section > div{
    margin-top: 20px;
}
#section__div--projetos,#section__div--concluidos,#section__div--andamento,#div--resolucoes{
    box-shadow: 2px 0 10px var(--mais-escuro);
    border-radius: 15px;
    height: 20vh;
    text-align: center;
}
.tema--dark #section__div--projetos,.tema--dark #section__div--concluidos,.tema--dark #section__div--andamento,.tema--dark #main__section--resolucao{
    box-shadow: 2px 0 10px var(--mais-claro);
}
#div--resolucoes{
    display: grid;
    grid-template-columns: auto auto;
}
#section__div--projetos{
    background-color: var(--projetos);
}
#section__div--concluidos{
    background-color: var(--andamento);
}
#section__div--andamento{
    background-color: var(--descartado);
}
button{
    height: 20px;
}
@media (min-width: 768px){
    section{
        padding-left: 50px;
        padding-top: 80px;
    }
    .section__divisao{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
    }
}
