/* Estilizando o site */

/* Colocando a cor de fundo da mesma cor que a imagem */
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(240,100%,44%);
    /*margin: 0px;*/
}
img{
    width: 480px;
    height: 480px;
}
.layout{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: auto;
    border: 1px solid white;
    display: flex;
}
.item{
    margin: auto;
    border: 1px solid white;
}
#login{
    text-align: center;
    margin-left: 200px;
    margin: auto;
    background-color: lightgray;
    padding: auto;
    border-radius: 8px;
    width: 680px;
    height: 380px;
}
h1{
    text-align: center;
    color: hsl(240,100%,44%);
}
